.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/spice_in_vanilla/v15/.suo
data/minecraft/loot_tables/blocks/spawner.json
data/minecraft/loot_tables/chests/abandoned_mineshaft.json
data/minecraft/loot_tables/chests/buried_treasure.json
data/minecraft/loot_tables/chests/desert_pyramid.json
data/minecraft/loot_tables/chests/end_city_treasure.json
data/minecraft/loot_tables/chests/igloo_chest.json
data/minecraft/loot_tables/chests/jungle_temple_dispenser.json
data/minecraft/loot_tables/chests/jungle_temple.json
data/minecraft/loot_tables/chests/nether_bridge.json
data/minecraft/loot_tables/chests/shipwreck_map.json
data/minecraft/loot_tables/chests/shipwreck_supply.json
data/minecraft/loot_tables/chests/shipwreck_treasure.json
data/minecraft/loot_tables/chests/simple_dungeon.json
data/minecraft/loot_tables/chests/spawn_bonus_chest.json
data/minecraft/loot_tables/chests/stronghold_corridor.json
data/minecraft/loot_tables/chests/stronghold_crossing.json
data/minecraft/loot_tables/chests/stronghold_library.json
data/minecraft/loot_tables/chests/underwater_ruin_big.json
data/minecraft/loot_tables/chests/underwater_ruin_small.json
data/minecraft/loot_tables/chests/woodland_mansion.json
data/minecraft/loot_tables/chests/village/village_armorer.json
data/minecraft/loot_tables/chests/village/village_butcher.json
data/minecraft/loot_tables/chests/village/village_cartographer.json
data/minecraft/loot_tables/chests/village/village_desert_house.json
data/minecraft/loot_tables/chests/village/village_fisher.json
data/minecraft/loot_tables/chests/village/village_fletcher.json
data/minecraft/loot_tables/chests/village/village_mason.json
data/minecraft/loot_tables/chests/village/village_plains_house.json
data/minecraft/loot_tables/chests/village/village_savanna_house.json
data/minecraft/loot_tables/chests/village/village_shepherd.json
data/minecraft/loot_tables/chests/village/village_snowy_house.json
data/minecraft/loot_tables/chests/village/village_taiga_house.json
data/minecraft/loot_tables/chests/village/village_tannery.json
data/minecraft/loot_tables/chests/village/village_temple.json
data/minecraft/loot_tables/chests/village/village_toolsmith.json
data/minecraft/loot_tables/chests/village/village_weaponsmith.json
data/minecraft/loot_tables/entities/armor_stand.json
data/minecraft/loot_tables/entities/bat.json
data/minecraft/loot_tables/entities/bee.json
data/minecraft/loot_tables/entities/blaze.json
data/minecraft/loot_tables/entities/cat.json
data/minecraft/loot_tables/entities/cave_spider.json
data/minecraft/loot_tables/entities/chicken.json
data/minecraft/loot_tables/entities/cod.json
data/minecraft/loot_tables/entities/cow.json
data/minecraft/loot_tables/entities/creeper.json
data/minecraft/loot_tables/entities/dolphin.json
data/minecraft/loot_tables/entities/donkey.json
data/minecraft/loot_tables/entities/drowned.json
data/minecraft/loot_tables/entities/elder_guardian.json
data/minecraft/loot_tables/entities/ender_dragon.json
data/minecraft/loot_tables/entities/enderman.json
data/minecraft/loot_tables/entities/endermite.json
data/minecraft/loot_tables/entities/evoker.json
data/minecraft/loot_tables/entities/fox.json
data/minecraft/loot_tables/entities/ghast.json
data/minecraft/loot_tables/entities/giant.json
data/minecraft/loot_tables/entities/guardian.json
data/minecraft/loot_tables/entities/horse.json
data/minecraft/loot_tables/entities/husk.json
data/minecraft/loot_tables/entities/illusioner.json
data/minecraft/loot_tables/entities/iron_golem.json
data/minecraft/loot_tables/entities/llama.json
data/minecraft/loot_tables/entities/magma_cube.json
data/minecraft/loot_tables/entities/mooshroom.json
data/minecraft/loot_tables/entities/mule.json
data/minecraft/loot_tables/entities/ocelot.json
data/minecraft/loot_tables/entities/panda.json
data/minecraft/loot_tables/entities/parrot.json
data/minecraft/loot_tables/entities/phantom.json
data/minecraft/loot_tables/entities/pig.json
data/minecraft/loot_tables/entities/pillager.json
data/minecraft/loot_tables/entities/player.json
data/minecraft/loot_tables/entities/polar_bear.json
data/minecraft/loot_tables/entities/pufferfish.json
data/minecraft/loot_tables/entities/rabbit.json
data/minecraft/loot_tables/entities/ravager.json
data/minecraft/loot_tables/entities/salmon.json
data/minecraft/loot_tables/entities/sheep.json
data/minecraft/loot_tables/entities/shulker.json
data/minecraft/loot_tables/entities/silverfish.json
data/minecraft/loot_tables/entities/skeleton_horse.json
data/minecraft/loot_tables/entities/skeleton.json
data/minecraft/loot_tables/entities/slime.json
data/minecraft/loot_tables/entities/snow_golem.json
data/minecraft/loot_tables/entities/spider.json
data/minecraft/loot_tables/entities/squid.json
data/minecraft/loot_tables/entities/stray.json
data/minecraft/loot_tables/entities/trader_llama.json
data/minecraft/loot_tables/entities/tropical_fish.json
data/minecraft/loot_tables/entities/turtle.json
data/minecraft/loot_tables/entities/vex.json
data/minecraft/loot_tables/entities/villager.json
data/minecraft/loot_tables/entities/vindicator.json
data/minecraft/loot_tables/entities/wandering_trader.json
data/minecraft/loot_tables/entities/witch.json
data/minecraft/loot_tables/entities/wither_skeleton.json
data/minecraft/loot_tables/entities/wither.json
data/minecraft/loot_tables/entities/wolf.json
data/minecraft/loot_tables/entities/zombie_horse.json
data/minecraft/loot_tables/entities/zombie_pigman.json
data/minecraft/loot_tables/entities/zombie_villager.json
data/minecraft/loot_tables/gameplay/cat_morning_gift.json
data/minecraft/loot_tables/gameplay/fishing.json
data/minecraft/loot_tables/gameplay/fishing/fish.json
data/minecraft/loot_tables/gameplay/fishing/junk.json
data/minecraft/loot_tables/gameplay/fishing/treasure.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/armorer_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/butcher_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/cartographer_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/cleric_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/farmer_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/fisherman_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/fletcher_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/leatherworker_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/librarian_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/mason_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/shepherd_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/toolsmith_gift.json
data/minecraft/loot_tables/gameplay/hero_of_the_village/weaponsmith_gift.json
data/minecraft/recipes/stone_pickaxe.json
data/minecraft/recipes/stone_sword.json
data/minecraft/tags/functions/load.json
data/spice_in_vanilla/air
data/spice_in_vanilla/advancements/items/arrow/hit_explosion_arrow.json
data/spice_in_vanilla/advancements/items/arrow/hit_player_explosion_arrow.json
data/spice_in_vanilla/advancements/items/arrow/hit_teleport_arrow.json
data/spice_in_vanilla/advancements/items/arrow/torch_arrow.json
data/spice_in_vanilla/advancements/items/others/capture_ball.json
data/spice_in_vanilla/advancements/items/others/ender_pearl.json
data/spice_in_vanilla/advancements/items/tools/obsidian_sword.json
data/spice_in_vanilla/advancements/systems/durability_low_warning.json
data/spice_in_vanilla/advancements/systems/custom_durability/diamond_armors.json
data/spice_in_vanilla/advancements/systems/custom_durability/iron_armors.json
data/spice_in_vanilla/advancements/systems/custom_durability/iron_tools_mending.json
data/spice_in_vanilla/functions/items/container/entrust.mcfunction
data/spice_in_vanilla/functions/items/container/entrust.mcfunctions
data/spice_in_vanilla/functions/items/container/out_item.mcfunction
data/spice_in_vanilla/functions/items/container/replace.mcfunction
data/spice_in_vanilla/functions/items/container/run.mcfunction
data/spice_in_vanilla/functions/items/container/set_item.mcfunction
data/spice_in_vanilla/functions/items/container/set.mcfunction
data/spice_in_vanilla/functions/items/container_old/entrust.mcfunction
data/spice_in_vanilla/functions/items/container_old/entrust.mcfunctions
data/spice_in_vanilla/functions/items/container_old/extract.mcfunction
data/spice_in_vanilla/functions/items/container_old/remove.mcfunction
data/spice_in_vanilla/functions/items/container_old/right_click_detection.mcfunction
data/spice_in_vanilla/functions/items/container_old/run.mcfunction
data/spice_in_vanilla/functions/items/container_old/set.mcfunction
data/spice_in_vanilla/functions/recipes/custom_crafting_table.mcfunction
data/spice_in_vanilla/functions/recipes/furnace.mcfunction
data/spice_in_vanilla/functions/recipes/placed_custom_crafting_table.mcfunction
data/spice_in_vanilla/functions/recipes/run.mcfunction
data/spice_in_vanilla/functions/recipes/unused/custom_crafting_table.mcfunction
data/spice_in_vanilla/functions/recipes/unused/old_items
data/spice_in_vanilla/functions/recipes/unused/placed_custom_crafting_table.mcfunction
data/spice_in_vanilla/functions/recipes/unused/run.mcfunction
data/spice_in_vanilla/functions/recipes/unused/succeed_command.mcfunction
data/spice_in_vanilla/functions/systems/break_block_count.mcfunction
data/spice_in_vanilla/functions/systems/version_up.mcfunction
data/spice_in_vanilla/functions/systems/item_sort/run.mcfunction
data/spice_in_vanilla/functions/systems/tamed_mob/effect_give.mcfunction
data/spice_in_vanilla/functions/systems/tamed_mob/normal_attack.mcfunction
data/spice_in_vanilla/functions/systems/tamed_mob/raiders_attack.mcfunction
data/spice_in_vanilla/functions/systems/tamed_mob/run.mcfunction
data/spice_in_vanilla/functions/systems/tamed_mob/taming.mcfunction
data/spice_in_vanilla/recipes/brick_from_stonecutting.json
data/spice_in_vanilla/recipes/chest_from_logs.json
data/spice_in_vanilla/recipes/clay_ball.json
data/spice_in_vanilla/recipes/cobblestone_from_stonecutting.json
data/spice_in_vanilla/recipes/flint_from_stonecutting.json
data/spice_in_vanilla/recipes/glowstone_dust_from_stonecutting.json
data/spice_in_vanilla/recipes/ice_from_stonecutting.json
data/spice_in_vanilla/recipes/melon_slice_from_stonecutting.json
data/spice_in_vanilla/recipes/oak_fence_from_stonecutting.json
data/spice_in_vanilla/recipes/packed_ice_from_stonecutting.json
data/spice_in_vanilla/recipes/quartz_from_stonecutting.json
data/spice_in_vanilla/recipes/red_sand_from_stonecutting_sandstone.json
data/spice_in_vanilla/recipes/sand_from_stonecutting_sandstone.json
data/spice_in_vanilla/recipes/sand_from_stonecutting.json
data/spice_in_vanilla/recipes/string_from_stonecutting.json
data/spice_in_vanilla/structures/pusher_fix2.nbt
data/spice_in_vanilla/structures/pusher2.nbt
resources/pack.mcmeta
resources/assets/minecraft/sounds.json
resources/assets/minecraft/lang/en_us.json
resources/assets/minecraft/lang/ja_jp_test.json
resources/assets/minecraft/lang/ja_jp.json
resources/assets/minecraft/models/item/bread.json
resources/assets/minecraft/models/item/carrot_on_a_stick.json
resources/assets/minecraft/models/item/diamond_axe.json
resources/assets/minecraft/models/item/diamond_boots.json
resources/assets/minecraft/models/item/diamond_chestplate.json
resources/assets/minecraft/models/item/diamond_helmet.json
resources/assets/minecraft/models/item/diamond_hoe.json
resources/assets/minecraft/models/item/diamond_leggings.json
resources/assets/minecraft/models/item/diamond_pickaxe.json
resources/assets/minecraft/models/item/diamond_shovel.json
resources/assets/minecraft/models/item/diamond_sword_temprate.json
resources/assets/minecraft/models/item/diamond_sword.json
resources/assets/minecraft/models/item/iron_axe.json
resources/assets/minecraft/models/item/iron_boots.json
resources/assets/minecraft/models/item/iron_chestplate.json
resources/assets/minecraft/models/item/iron_helmet.json
resources/assets/minecraft/models/item/iron_hoe.json
resources/assets/minecraft/models/item/iron_ingot.json
resources/assets/minecraft/models/item/iron_leggings.json
resources/assets/minecraft/models/item/iron_pickaxe.json
resources/assets/minecraft/models/item/iron_shovel.json
resources/assets/minecraft/models/item/iron_sword.json
resources/assets/minecraft/models/item/blaze_tools/blaze_axe.json
resources/assets/minecraft/models/item/blaze_tools/blaze_boots.json
resources/assets/minecraft/models/item/blaze_tools/blaze_chestplate.json
resources/assets/minecraft/models/item/blaze_tools/blaze_helmet.json
resources/assets/minecraft/models/item/blaze_tools/blaze_hoe.json
resources/assets/minecraft/models/item/blaze_tools/blaze_ingot.json
resources/assets/minecraft/models/item/blaze_tools/blaze_leggings.json
resources/assets/minecraft/models/item/blaze_tools/blaze_pickaxe.json
resources/assets/minecraft/models/item/blaze_tools/blaze_shovel.json
resources/assets/minecraft/models/item/blaze_tools/blaze_sword.json
resources/assets/minecraft/models/item/carrot_on_a_stick/ore_detector.json
resources/assets/minecraft/models/item/carrot_on_a_stick/ore_detector.png
resources/assets/minecraft/models/item/diamond_sword/amulet.json
resources/assets/minecraft/models/item/diamond_sword/back_to_deathpoint.json
resources/assets/minecraft/models/item/diamond_sword/blaze_ingot.json
resources/assets/minecraft/models/item/diamond_sword/diamond_sword.png
resources/assets/minecraft/models/item/emerald_tools/emerald_axe.json
resources/assets/minecraft/models/item/emerald_tools/emerald_boots.json
resources/assets/minecraft/models/item/emerald_tools/emerald_chestplate.json
resources/assets/minecraft/models/item/emerald_tools/emerald_helmet.json
resources/assets/minecraft/models/item/emerald_tools/emerald_hoe.json
resources/assets/minecraft/models/item/emerald_tools/emerald_leggings.json
resources/assets/minecraft/models/item/emerald_tools/emerald_pickaxe.json
resources/assets/minecraft/models/item/emerald_tools/emerald_shovel.json
resources/assets/minecraft/models/item/emerald_tools/emerald_sword.json
resources/assets/minecraft/models/item/flint/amulet.json
resources/assets/minecraft/models/item/flint/blaze_ingot.json
resources/assets/minecraft/models/item/foods/chocochip_bread.json
resources/assets/minecraft/models/item/tool_heads/iron_pickaxe_head.json
resources/assets/minecraft/sounds/item/ore_detector_not_found.ogg
resources/assets/minecraft/sounds/item/ore_detector_searching.ogg
resources/assets/minecraft/textures/items/diamond_sword.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_axe.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_boots.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_chestplate.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_helmet.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_hoe.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_ingot.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_leggings.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_pickaxe.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_shovel.png
resources/assets/minecraft/textures/items/blaze_tools/blaze_sword.png
resources/assets/minecraft/textures/items/blaze_tools/iron_axe.png
resources/assets/minecraft/textures/items/blaze_tools/iron_boots.png
resources/assets/minecraft/textures/items/blaze_tools/iron_chestplate.png
resources/assets/minecraft/textures/items/blaze_tools/iron_helmet.png
resources/assets/minecraft/textures/items/blaze_tools/iron_hoe.png
resources/assets/minecraft/textures/items/blaze_tools/iron_ingot.png
resources/assets/minecraft/textures/items/blaze_tools/iron_leggings.png
resources/assets/minecraft/textures/items/blaze_tools/iron_pickaxe.png
resources/assets/minecraft/textures/items/blaze_tools/iron_shovel.png
resources/assets/minecraft/textures/items/blaze_tools/iron_sword.png
resources/assets/minecraft/textures/items/carrot_on_a_stick/ore_detector.png
resources/assets/minecraft/textures/items/diamond_swords/amulet.png
resources/assets/minecraft/textures/items/diamond_swords/back_to_deathpoint.png
resources/assets/minecraft/textures/items/diamond_swords/blaze_ingot.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_axe.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_boots.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_chestplate.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_filter.mdp
resources/assets/minecraft/textures/items/emerald_tools/emerald_helmet.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_hoe.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_leggings.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_pickaxe.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_shovel.png
resources/assets/minecraft/textures/items/emerald_tools/emerald_sword.png
resources/assets/minecraft/textures/items/emerald_tools/iron_ingot.png
resources/assets/minecraft/textures/items/flint/amulet.png
resources/assets/minecraft/textures/items/flint/blaze_ingot.png
resources/assets/minecraft/textures/items/flint/flint.png
resources/assets/minecraft/textures/items/foods/bread.png
resources/assets/minecraft/textures/items/foods/chocochip_bread.png
resources/assets/minecraft/textures/items/foods/cookie.png
resources/assets/minecraft/textures/items/shears/amulet.png
resources/assets/minecraft/textures/items/shears/blaze_ingot.png
resources/assets/minecraft/textures/items/tool_heads/iron_pickaxe_head.png
resources/assets/minecraft/textures/items/wooden_shovels/01.png
resources/assets/minecraft/textures/items/wooden_shovels/02.png
resources/assets/spice_in_vanilla/sounds/mario/1up_mushroom.ogg
resources/assets/spice_in_vanilla/sounds/others/1up_mushroom.ogg
data/minecraft/loot_tables/chests/pillager_outpost.json
